version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_DATABASE: gamified-goal-tracker
    volumes:
      - mongo_data:/data/db

  backend:
    image: hirushanww/gamified-goal-tracker-backend:latest
    container_name: backend
    restart: always
    ports:
      - '5000:5000'
    env_file:
      - .env
    depends_on:
      - mongo

  frontend:
    image: hirushanww/gamified-goal-tracker-frontend:latest
    container_name: frontend
    restart: always
    ports:
      - '80:80'
    depends_on:
      - backend

volumes:
  mongo_data:
